
@{
    ViewBag.Title = "CalcualteWater";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" id="information-entry">
    <div class="container">
        <hr>
        <h3 class="heading">Water Calculator</h3>
    </div>
    <div>
    <p>map</p>    
    </div>
</div>

