<!--FlexSlider-->
<link rel="stylesheet" href="~/AboutRes/css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link href="~/AboutRes/css/lsb.css" rel="stylesheet" type="text/css"><!-- gallery -->
<!-- custom css theme files -->
<link rel="stylesheet" href="~/AboutRes/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="~/AboutRes/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/AboutRes/css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->
<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <!-- nav -->
        <div class="header w3layouts">
            <div class="container-fluid">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><span>Solar</span> Energy</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li><a href="#team" class="scroll">     </a></li>
                                <li class="active"><a href="~/Home/Index">Home</a></li>
                                <li><a href="~/Home/About">Introduction</a></li>
                                <li><a href="~/Calculator/CalculateOutput">Calculator</a></li>


                            </ul>

                        </nav>
                        <ul class="top-links social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //nav -->
        <!-- //Header -->
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Your Solar Energy Exploration
                                    </h3>
                                    <p>


                                    </p>
                                    <p>
                                        Find out how much natural sunlight is available in your local area and how to make your energy useful

                                    </p>
                                    <ul>
                                        <!--<li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Find More</a></li>-->
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>Function to be developed</h3>
                                    <p>
                                        Coming soon in iteration 2
                                    </p>
                                    <ul>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>Function to be developed</h3>
                                    <p>
                                        Coming soon in iteration 3
                                    </p>
                                    <ul>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner bottom -->
<!--
 <div class="banner-bottom">
    <div class="container">
        <div class="col-md-6 bottomleft">
            <h3>Reliable and affordable Solar Energy for your home</h3>
            <p>
                Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                Phasellus antelig, tincidunt vitae imperdiet ac,semper a nisl.
            </p>
            <p>
                Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
            </p>
        </div>
        <div class="col-md-6 bottomright">

            <img src="~/AboutRes/images/1.jpg" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>



    -->
<!-- //banner bottom -->
<!-- about -->
<div class="about" id="about">
    <div class="container">
        <h3 class="heading">Project Description</h3>
        <div class="abouttop">
            <div class="col-md-6">
                <div class="abouttopleft">
                    <h3>About our technologies</h3>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Find feasible ways to energy-saving</p>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Provide a list of energy-saving technologies</p>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Offer general information on solar energy</p>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Showing the saving result by calculating the amount of energy</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="abouttopright">
                    <img src="~/AboutRes/images/about1.jpg" alt="" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="aboutbottom">
            <div class="col-md-6">
                <div class="aboutbottomleft">
                    <img src="~/AboutRes/images/about2.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="aboutbottomright">
                    <h3>Managing solar energy saving</h3>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Focus on energy-saving on water consumption.</p>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Introduce water resources.</p>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Find viable approaches for saving water.</p>
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Calculate water condition in Victoria.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- services -->
<div class="services" id="services">
    <div class="container">
        <h3 class="heading">Services</h3>
        <div class="agileits-services">
            <div class="services-right-grids">
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Solar wind power</h5>
                        <p>Lorem ipsum dolor sit amet, Sedet adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5></h5>
                        <p>Lorem ipsum dolor sit amet, Sedet adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Hydrogen & Electricity</h5>
                        <p>Lorem ipsum dolor sit amet, Sedet adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="col-sm-3 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Energy Analysis</h5>
                        <p>Lorem ipsum dolor sit amet, Sedet adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //services -->
<!--/team-->
<div class="team" id="team">
    <div class="container">
        <h3 class="heading">Team</h3>
        <div class="about-section agileits">
            <div class="col-md-6 ab-left">
                <div class="grid">
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/images/C.jpg" alt="img25">
                            <figcaption>
                                <h4>Chai<span>Loi</span></h4>
                                <ul class="top-links two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <p>
                                    Cyber Security
                                </p>

                            </figcaption>
                        </figure>

                    </div>

                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/images/H.jpg" alt="img25">
                            <figcaption>
                                <h4>Hui<span>Tao</span></h4>
                                <ul class="top-links two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <p>
                                    Data Science
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/images/L.jpg" alt="img25">
                            <figcaption>
                                <h4>Lang<span>Sun</span></h4>
                                <ul class="top-links two">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <p>
                                    IT
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="h-f">
                       

                    </div>
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/images/456.jpg" alt="img25">
                            <figcaption>
                                <h4>Rong Xuan<span>Li</span></h4>
                                <ul class="top-links two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <p>
                                    IT
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="about-section">
                <div class="col-md-6 ab-left">
                    <div class="grid">

                        <div class="h-f">
                            <figure class="effect-jazz">
                                <img src="~/images/Z.jpg.1.jpg" alt="img25">
                                <figcaption>
                                    <h4>Zhe<span>Zhang</span></h4>
                                    <ul class="top-links two">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <p>
                                        BIS
                                    </p>

                                </figcaption>
                            </figure>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--/team-->
<!--gallery-->
<div class="gallery" id="gallery">
    <div class="container">
        <h3 class="heading">Finished product demostraion</h3>
    </div>
    <ul id="flexiselDemo1">
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/g1.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g1.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/g1.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g2.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/g3.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g3.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/g4.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g4.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/g5.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g5.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/6.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g6.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="wthree_gallery_grid">
                <a href="~/AboutRes/images/g7.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="view second-effect">
                        <img src="~/AboutRes/images/g7.jpg" alt="" class="img-responsive" />
                        <div class="mask">
                            <h6>Solar Energy</h6>
                            <p>find more</p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
<!--//gallery-->
<!--/reviews-->

<!--//reviews-->
<!-- blog -->
<div class="blog" id="blog">
    <div class="container">
        <h3 class="heading">Relative Sources</h3>
        <div class="agile_inner_w3ls-grids">

            <div class="col-sm-6 w3-agile-post-grids">
                <div class="w3-agile-post-img w3-agile-post-img1">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">molestie dignissim</a></h4>
                    <p>
                        Where asterix is shown the figure in the hourly (cents) column is the cost per cycle.
                        The average price of electricity paid by individual customers varies depending on their
                        location, retail contract, usage and tariff structure. Electric appliance running costs are
                        calculated using a rate of 20.2c/kWh. This is the average energy charge that a typical
                        residential customer pays on a market offer with a pay on time discount from major energy retailers in the Ausgrid electricity network area from 1 July 2015 (inc GST).
                    </p>
                    <ul>
                        <li>By <a href="https://www.ausgrid.com.au/-/media/Documents/energy-use/Appliance-energy-use-guide.pdf">ausgrid </a></li>
                        <li>June 15th,2015</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 w3-agile-post-grids">
                <div class="w3-agile-post-img w3-agile-post-img2">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                    </a>
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">molestie dignissim</a></h4>
                    <p>
                        SILO is a database of Australian climate data from 1889 to the present. It provides daily meteorological datasets for a range of climate variables in ready-to-use formats suitable for biophysical modelling, research and climate applications.
                        SILO is an enabling technology which allows users to focus on their research, without the burden of data preparation. SILO products support research through providing:
                        national coverage, with infilled values for missing data, and
                        datasets being model ready, in a variety of formats.
                    </p>
                    <ul>
                        <li>By <a href="https://www.longpaddock.qld.gov.au/silo/point-data/#responseTab2">Quensland Goverment -- </a></li>
                        <li>June 9th,2017</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //blog -->
<!-- contact -->
<div class="contact" id="contact">
    <div class="container">
        <h3 class="heading">contact us</h3>
    </div>
    <div class="contactright1">
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>900 Dandenong Rd, Caulfield East VIC 3145</p>
        <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+61 474364774</p>
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">VicEnerG.monash.edu@gmail.com</a></p>
    </div>
    <iframe src=""></iframe>
</div>


<!-- //contact -->
<!-- copyright -->
<div class="wthree_copy_right">
    <div class="container">
        <p>Copyright &copy; 2021. Monash University Industry Experience TP11 <a href="https://www.vicenerg.team/" target="_blank" title="模板之家">Vic EnerG</a></p>

    </div>
</div>
<!-- //copyright -->
<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Vic EnerG
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="~/images/accessgrid.png" alt=" " class="img-responsive" />
                <p>
                    Continuous daily time series of data at point locations across Australia.
                    <i>
                        " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur.
                    </i>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-modal-pop-up -->
<!-- Default-JavaScript-File -->
<script type="text/javascript" src="~/AboutRes/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/AboutRes/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->
<!--Start-slider-script-->
<script defer src="~/AboutRes/js/jquery.flexisel.js"></script>
<script type="text/javascript">

    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script-->
<!-- testimonials required-js-files-->
<link href="~/AboutRes/css/owl.carousel.css" rel="stylesheet">
<script src="~/AboutRes/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 1,
            lazyLoad: true,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
</script>
<!--// testimonials required-js-files-->
<!-- flexisel -->
<script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script>
<script type="text/javascript" src="~/AboutRes/js/jquery.flexslider.js"></script>
<!-- //flexisel -->
<!-- gallery-pop-up -->
<script src="~/AboutRes/js/lsb.min.js"></script>
<script>
    $(window).load(function () {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery-pop-up -->
<!-- smooth scrolling -->
<script src="~/AboutRes/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="~/AboutRes/js/move-top.js"></script>
<script type="text/javascript" src="~/AboutRes/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- //scrolling script -->

<style>
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
</style>