
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .aboutContainer{
        margin: 0 5%;
    }
    .aboutTopContent {
        border: 1px solid #ddd;
        padding: 1em 2em 2em 2em;
        background: url('https://html.sammy-codes.com/images/background.jpg')
    }
        .aboutTopContent h3 {
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: 0.75rem;
        }
    .aboutMidContent {
        margin-top:1rem;
        @*border: 1px solid #ddd;*@
        padding: 1em 2em 2em 2em;
    }
    .aboutHeader {
        text-align: center;
        font-weight: bold;
        margin-top: 2rem
    }
    .aboutHeader2 {
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom:1rem;
    }
</style>
<!-- About Us -->
<div class="aboutContainer">
    <hr>
    <h3 class="heading">About Us</h3>
    <!-- What is Solar -->
    <div>

        <div class="aboutTopContent">
            <h3>
                Project Description
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec fermentum mauris, nec interdum metus. Duis eget velit diam. Ut ac risus at nisl convallis vehicula finibus at nunc. Nulla dapibus odio id nulla aliquet egestas. Aenean arcu orci, maximus vitae blandit eu, condimentum nec mauris. Phasellus quis vehicula lacus. Nunc pretium mauris at massa viverra, in facilisis mi ullamcorper. Morbi molestie felis non nisi mattis, vitae facilisis nulla blandit. Mauris lacinia vel diam ac bibendum. Aliquam justo metus, elementum ornare ligula quis, malesuada imperdiet dolor. Duis quam leo, cursus a condimentum eget, viverra ac arcu. Phasellus eleifend diam vel massa bibendum, et interdum dui eleifend.</p>
            <h3>
                Project Statement
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec fermentum mauris, nec interdum metus. Duis eget velit diam. Ut ac risus at nisl convallis vehicula finibus at nunc. Nulla dapibus odio id nulla aliquet egestas. Aenean arcu orci, maximus vitae blandit eu, condimentum nec mauris. Phasellus quis vehicula lacus. Nunc pretium mauris at massa viverra, in facilisis mi ullamcorper. Morbi molestie felis non nisi mattis, vitae facilisis nulla blandit. Mauris lacinia vel diam ac bibendum. Aliquam justo metus, elementum ornare ligula quis, malesuada imperdiet dolor. Duis quam leo, cursus a condimentum eget, viverra ac arcu. Phasellus eleifend diam vel massa bibendum, et interdum dui eleifend.</p>
            <h3>
                Project Solution
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec fermentum mauris, nec interdum metus. Duis eget velit diam. Ut ac risus at nisl convallis vehicula finibus at nunc. Nulla dapibus odio id nulla aliquet egestas. Aenean arcu orci, maximus vitae blandit eu, condimentum nec mauris. Phasellus quis vehicula lacus. Nunc pretium mauris at massa viverra, in facilisis mi ullamcorper. Morbi molestie felis non nisi mattis, vitae facilisis nulla blandit. Mauris lacinia vel diam ac bibendum. Aliquam justo metus, elementum ornare ligula quis, malesuada imperdiet dolor. Duis quam leo, cursus a condimentum eget, viverra ac arcu. Phasellus eleifend diam vel massa bibendum, et interdum dui eleifend.</p>
        </div>
        <h3 class="aboutHeader">
            Lorem ipsum
        </h3>
        <div class="aboutMidContent row">
            <div class="col-md-1">
                <h3>
                </h3>
            </div>
            <div class="col-md-2">
                <img src="~/images/SolarImages/1.jpg" />
                <h3>Solar Calculator</h3>
                <h4>
                    Find out how much available solar energy output in your local area.
                </h4>
            </div>
            <div class="col-md-2">
                <img src="~/images/carbonIcon/ArrowRight.png" width="170" height="150" />
            </div>
            <div class="col-md-2">
                <img src="~/images/SolarImages/1.jpg" />
                <h3>Carbon Calculator</h3>
                <h4>Find out how much carbon footprint emissions can be saved</h4>
            </div>
            <div class="col-md-2">
                <img src="~/images/carbonIcon/ArrowRight.png" width="170" height="150" />
            </div>
            <div class="col-md-2">
                <img src="~/images/SolarImages/1.jpg" />
                <h3>Water Calculator</h3>
                <h4>
                    Find out how much rainfall can be recycled and how these recycles impact daily life.
                </h4>
            </div>
            <div class="col-md-1">
                <h3>
                </h3>
            </div>
        </div>
        <h3 class="aboutHeader2">
            Team Introduction
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec fermentum mauris, nec interdum metus. Duis eget velit diam. Ut ac risus at nisl convallis vehicula finibus at nunc. Nulla dapibus odio id nulla aliquet egestas. Aenean arcu orci, maximus vitae blandit eu, condimentum nec mauris. Phasellus quis vehicula lacus. Nunc pretium mauris at massa viverra, in facilisis mi ullamcorper. Morbi molestie felis non nisi mattis, vitae facilisis nulla blandit. Mauris lacinia vel diam ac bibendum. Aliquam justo metus, elementum ornare ligula quis, malesuada imperdiet dolor. Duis quam leo, cursus a condimentum eget, viverra ac arcu. Phasellus eleifend diam vel massa bibendum, et interdum dui eleifend.</p>

        @*   <div class="col-md-6">
                <div class="abouttopleft">
                    <h3>aaaaa</h3>
                    <h4>
                        aaaaa
                    </h4>
                </div>
            </div>*@
    </div>
    <!-- Project Overview
    <div class="container">
        <hr>
        <h3 class="heading">Welcome to VicEnerG</h3>
    <div class="abouttop">
        <div class="col-md-12">
            <div class="abouttopleft">
                <h3 style="color:black;">What is VicEnerG?</h3>
                <h4>
                    VicEnerG --  a useful assistant to the energy-saving project. <br>
                    Helping Victorian families to apply green energy and reduce their cost in utility.

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div> -->

    <!-- Problem Statement
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3 style="color:black;">How we can help you?</h3>
                <h4>
                    <ul style="padding-left: 40px">
                        <li> Struggling with the high electricity usage during the lockdown?</li>
                        <br>
                        <li>
                            Facing the high electricity bill caused by the increment of utility?
                        </li>
                        <br>
                        <li>
                            Threatened by potential water crisis due to high use of water?
                        </li>
                        <br>
                        <li>
                            Worried about the environment pollution affected by the carbon footprint emissions?
                        </li>
                        <br>
                        <br>
                        No worries! We can solve your problem!
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>-->
    <!-- Proposed Solution
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3 style="color:black;">How we can solve your problem?</h3>
                <h4>
                    This web application is aimed to provide a list of energy-saving technologies for the people who are still distressed by the high electricity and water consumption. <br>
                    If you do not know about these energies before, you can learn the basic information on our website first.<br>
                    And you can calculate the specific output in your suburb and the potential amount of energy that they can save by using these technologies.<br>

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>-->
</div>
</div>








