
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Us -->
<div class="container">
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <h3 class="heading">Disclaimer </h3>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="text-warning" style="line-height:130%">
                The data provided by QLD Government on VicEnerG is for general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site.
            </h3>
            <br />
            <h3 class="text-warning" style="line-height:130%">
                The Site cannot and does not contain legal/resource/other advice. The legal/resource/other information is provided for general informational and educational purposes only and is not a substitute for professional advice.
                Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professionals. We do not provide any kind of legal/resource/other advice. The use or reliance of any information contained on this site legal/resource/other is solely at your own risk.

            </h3>
            <br />
            <h3 class="text-warning" style="line-height:130%">
                The Site contains one link to other websites. Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us.

            </h3>
            <br />
            <h3 class="text-warning" style="line-height:130%">
                We do not warrant, endorse, guarantee, or assume responsibility for the accuracy or reliability of any information offered by third-party websites linked through the site or any website or feature linked in any banner or other advertising. We will not be a party to or in any way be responsible for monitoring any transaction between you and third-party providers of products or services.

            </h3>
            <br />
            <br />
        </div>
    </div>










</div>

