@{
    ViewBag.Title = "Home";
    ViewBag.BodyClass = "home-body";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Solar Calculation in Your Suburb
                                    </h3>
                                    <p>
                                        Solar Calculator can help you find out how much available solar energy output each month in your local area and how much carbon footprint emissions can be saved.

                                    </p>
                                    <ul>
                                        <li><a href="~/Calculator/CalculateOutput" class="w3ls_more" data-toggle="modal">Try Our Solar Calculator</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Carbon Footprint Calculation in Your Suburb
                                    </h3>
                                    <p>
                                        Want to know more how you can save your carbon footprint in your suburb? Come find out more!
                                    </p>
                                    <ul>
                                        <li><a href="~/Carbon/CalculateCarbon" class="w3ls_more" data-toggle="modal">Try Our Carbon Calculator</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Want to explore more solar information? 
                                    </h3>
                                    <p>
                                        Finding more information on solar more than renewable energy. You can know how the solar energy works in your house.
                                    </p>
                                    <ul>
                                        <li><a href="~/Home/SolarInfo" class="w3ls_more" data-toggle="modal">Explore Solar Information</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Get your solar rebates now!
                                    </h3>
                                    <p>
                                        Do you want to know how to apply for a solar rebate? Do you worry solar panels are too expensive to afford? Learning solar rebates information on this page to get solutions!
                                    </p>
                                    <ul>
                                        <li><a href="~/Home/SolarRebates" class="w3ls_more" data-toggle="modal">Explore Solar Rebates</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Want to explore more carbon footprint information? 

                                    </h3>
                                    <p>
                                        What are the calculated carbon footprint emissions referred to? Explore this page and find more answers.

                                    </p>
                                    <ul>
                                        <li><a href="~/Home/CarbonInfo" class="w3ls_more" data-toggle="modal">Explore Carbon Footprint Information</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Project Overview -->
<div class="container">
    <hr>
    <h3 class="heading">Welcome to VicEnerG</h3>
    <!-- Project Description -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="abouttopleft">
                <h3 style="color:black;">Our Project</h3>
                <h4>
                    VicEnerG --  a useful assistant to the energy-saving project. <br>
                    Helping Victorian families to apply green energy and reduce their cost in utility.

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Problem Statement -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3 style="color:black;">What problems we solve?</h3>
                <h4>
                    Struggling with the high electricity usage during the lockdown? <br>
                    Facing the high electricity bill caused by the increment of utility? <br>
                    Threatened by potential water crisis due to high use of water? <br>
                    Worried about the environment pollution affected by the carbon footprint emissions? <br>
                    No worries! We can solve your problem!

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Proposed Solution -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3 style="color:black;">How we can solve your problem?</h3>
                <h4>
                    This web application is aimed to provide a list of energy-saving technologies for the people who are still distressed by the high electricity and water consumption. <br>
                    If you do not know about these energies before, you can learn the basic information on our website first.<br>
                    And you can calculate the specific output in your suburb and the potential amount of energy that they can save by using these technologies.<br>

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- Solar Redirect -->
<div class="container">
    <div class="abouttop">
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/home/solar-panel-house.jpg" style="max-height: 200px; max-width: 350px; height: 200px; width: 350px;" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3 style="color:black;">Do You Know Solar?</h3>
                <h4>
                    <a href="~/Home/SolarInfo" class="btn btn-primary btn-lg btn-block btn-solar-redirect">Explore Solar</a>
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- Carbon Footprint Redirect -->
<div class="container">
    <div class="abouttop">
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3 style="color:black;">Do You Know Carbon Footprint To Environment?</h3>
                <h4>
                    <a href="~/Home/CarbonInfo" class="btn btn-primary btn-lg btn-block btn-carbon-redirect">Explore Carbon Foorprint</a>
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/home/carbon-footprint-home.jpg" style="max-height: 200px; max-width: 350px; height: 200px; width: 350px;" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



