@{
    ViewBag.Title = "Home";
    ViewBag.BodyClass = "home-body";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Calculate Your Potential Energy Saving
                                    </h3>
                                    <p>
                                        Helping Victorian household to calculate the Carbon Footprint Emissions. Why should you reduce carbon footprint? Do you want to know more about solar renewable energy?

                                    </p>
                                    <ul>
                                        <li><a href="~/Calculator/CalculateOutput" class="w3ls_more" data-toggle="modal">Explore Now To Find Your Answers</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!--calculator-->
<div class="team" id="team">

    <div class="container-calculator">
        <h3 class="heading" style="padding-left:50px;">Try Our Calculators</h3>
        <div class="about-section agileits">
                <div class="col-md-12 ab-left">
                    <div class="grid">
                        <a href="~/Calculator/CalculateOutput">
                            <div class="h-f">
                                <figure class="effect-jazz">
                                    <img src="~/images/SolarImages/g14.jpg" />
                                    <figcaption>
                                        <h4>
                                            Solar
                                            <br /><br />Calculator
                                        </h4>
                                        <p>
                                            Do you know your solar energy output in your suburb?
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="~/Carbon/CalculateCarbon">
                            <div class="h-f">
                                <figure class="effect-jazz">
                                    <img src="~/images/carbonInfo/carbon-emission.jpg" />
                                    <figcaption>
                                        <h4>
                                            Carbon Footprint
                                            <br /><br />Calculator
                                        </h4>
                                        <p>Do you know what your carbon footprint is?</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="~/Water/CalculateWater">
                            <div class="h-f">
                                <figure class="effect-jazz">
                                    <img src="~/images/water/water-rain.jpg" />
                                    <figcaption>
                                        <h4>
                                            Water
                                            <br /><br />Calculator
                                        </h4>
                                        <p>Do you know how you can save from rainwater?</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!--/calculator-->
<!-- Some Information
<div class="container">
    <div class="abouttop">
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3 style="color:black;">Do You Know What Your Carbon Footprint Is?</h3>
                <h4>
                    <a href="~/Carbon/CalculateCarbon" class="btn btn-primary btn-lg btn-block btn-carbon-redirect">Explore Carbon Foorprint Calculator</a>
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/home/carbon-footprint-home.jpg" style="max-height: 200px; max-width: 350px; height: 200px; width: 350px;" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>-->
<!-- information pages-->
<div class="services" id="services">
    <div class="container">
        <h3 class="heading">Learn More...</h3>
        <div class="agileits-services">
            <!-- subsection start-->
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <a href="~/Home/SolarInfo">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="services-icon-info">
                        <h5><a href="~/Home/SolarInfo">Explore more solar information </a></h5>
                        <p>
                            Find more information on solar renewable energy. You can know how the solar energy works in your house.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <a href="~/Home/SolarRebates">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="services-icon-info">
                        <h5> <a href="~/Home/SolarRebates">Get your solar rebates now </a></h5>
                        <p>
                            Do you worry solar panels are too expensive to afford? Learning solar rebates information on this page to get solutions.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <a href="~/Home/CarbonInfo">
                        <div class="services-icon hvr-radial-in">

                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="services-icon-info">
                        <h5> <a href="~/Home/CarbonInfo">Do you know carbon footprint? </a></h5>
                        <p>
                            What are the calculated carbon footprint emissions referred to? <br />
                            Explore this page and find more answers.
                        </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //information pages -->
