@{
    ViewBag.Title = "Home";
    ViewBag.BodyClass = "home-body";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Solar Calculation in Your Suburb
                                    </h3>
                                    <p>
                                        Solar Calculator can help you find out how much available solar energy output each month in your local area and how much carbon footprint emissions can be saved.

                                    </p>
                                    <ul>
                                        <li><a href="~/Calculator/CalculateOutput" class="w3ls_more" data-toggle="modal">Try Now</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Project Overview -->
<div class="container">
    <hr>
    <h3 class="heading">Welcome to VicEnerG</h3>
    <!-- Project Description -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="abouttopleft">
                <h3 style="color:black;">What is VicEnerG?</h3>
                <h4>
                    VicEnerG --  a useful assistant to the energy-saving project. <br>
                    Helping Victorian families to apply green energy and reduce their cost in utility.

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Problem Statement -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3 style="color:black;">How we can help you?</h3>
                <h4>
                    <ul style="padding-left: 40px">
                        <li> Struggling with the high electricity usage during the lockdown?</li>
                        <br>
                        <li>
                            Facing the high electricity bill caused by the increment of utility?
                        </li>
                        <br>
                        <li>
                            Threatened by potential water crisis due to high use of water?
                        </li>
                        <br>
                        <li>
                            Worried about the environment pollution affected by the carbon footprint emissions?
                        </li>
                        <br>
                        <br>
                        No worries! We can solve your problem!
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Proposed Solution
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3 style="color:black;">How we can solve your problem?</h3>
                <h4>
                    This web application is aimed to provide a list of energy-saving technologies for the people who are still distressed by the high electricity and water consumption. <br>
                    If you do not know about these energies before, you can learn the basic information on our website first.<br>
                    And you can calculate the specific output in your suburb and the potential amount of energy that they can save by using these technologies.<br>

                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>-->
</div>


<!-- Solar Redirect -->
<div class="container">
    <div class="abouttop">
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/home/solar-panel-house.jpg" style="max-height: 200px; max-width: 350px; height: 200px; width: 350px;" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3 style="color:black;">Find Out How To Improve The Bill</h3>
                <h4>
                    <a href="~/Calculator/CalculateOutput" class="btn btn-primary btn-lg btn-block btn-solar-redirect">Explore Solar Calculator</a>
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- Carbon Footprint Redirect -->
<div class="container">
    <div class="abouttop">
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3 style="color:black;">Do You Know What Your Carbon Footprint Is?</h3>
                <h4>
                    <a href="~/Carbon/CalculateCarbon" class="btn btn-primary btn-lg btn-block btn-carbon-redirect">Explore Carbon Foorprint Calculator</a>
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/home/carbon-footprint-home.jpg" style="max-height: 200px; max-width: 350px; height: 200px; width: 350px;" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- information pages-->
<div class="services" id="services">
    <div class="container">
        <h3 class="heading">Explore More...</h3>
        <div class="agileits-services">
            <!-- subsection start-->
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <a href="~/Home/SolarInfo">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="services-icon-info">
                        <h5><a href="~/Home/SolarInfo">Explore more solar information </a></h5>
                        <p>
                            Finding more information on solar more than renewable energy. You can know how the solar energy works in your house.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <a href="~/Home/SolarRebates">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="services-icon-info">
                        <h5> <a href="~/Home/SolarRebates">Get your solar rebates now </a></h5>
                        <p>
                            Do you worry solar panels are too expensive to afford? Learning solar rebates information on this page to get solutions!
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <a href="~/Home/CarbonInfo">
                        <div class="services-icon hvr-radial-in">

                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                    </a>
                        <div class="services-icon-info">
                            <h5> <a href="~/Home/CarbonInfo">Do you know carbon footprint? </a></h5>
                            <p>
                                What are the calculated carbon footprint emissions referred to? <br />
                                Explore this page and find more answers.
                            </p>
                        </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //information pages --> 
