@{
    ViewBag.Title = "Home";
    ViewBag.BodyClass = "home-body";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Solar Calculation in Your Suburb
                                    </h3>
                                    <p>


                                    </p>
                                    <p>
                                        HERE: Fill in here to input the description to attract user to our Calculator!!!

                                    </p>
                                    <ul>
                                        <li><a href="~/Calculator/CalculateOutput" class="w3ls_more" data-toggle="modal">Try Our Calculator</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>HERE: Fill in here to input the title of Solar General Information!!!</h3>
                                    <p>
                                        HERE: Fill in here to input the description to attract user to our Solar General Information, with interesting sentences!!!
                                    </p>
                                    <ul>
                                        <li><a href="~/Home/SolarInfo" class="w3ls_more" data-toggle="modal">Explore Solar Information</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>HERE: Fill in here to input the title of Solar Rebates!!!</h3>
                                    <p>
                                        HERE: Fill in here to input the description to attract user to our Solar Rebates Information, with interesting sentences!!!
                                    </p>
                                    <ul>
                                        <li><a href="~/Home/SolarRebates" class="w3ls_more" data-toggle="modal">Explore Solar Rebates</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>HERE: Fill in here to input the title of Carbon Footprint Information!!!</h3>
                                    <p>
                                        HERE: Fill in here to input the description to attract user to our Carbon Footprint Information, with interesting sentences!!!
                                    </p>
                                    <ul>
                                        <li><a href="~/Home/CarbonInfo" class="w3ls_more" data-toggle="modal">Explore Carbon Footprint Information</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Project Overview -->
<div class="container">
    <hr>
    <h3 class="heading">Welcome to VicEnerG</h3>
    <!-- Project Description -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="abouttopleft">
                <h3>Our Project</h3>
                <h4>
                    HERE: fill the project description here, with interesting sentences!!!
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Problem Statement -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3>What problems we solve?</h3>
                <h4>
                    HERE: enter the problem statement!!!
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Proposed Solution -->
    <div class="abouttop">
        <div class="col-md-12">
            <div class="aboutbottomright">
                <h3>How we can solve your problem?</h3>
                <h4>
                    HERE: enter the proposed solution here, with interesting sentences!!!
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- About our team -->
<div class="container">
    <div class="abouttop">
        <div class="col-md-2">
            <div class="abouttopright">
                <img src="~/images/white_teamlogo_dark_background.jpg" style="max-height:10000px; height:180px; width:150px;" />
            </div>
        </div>
        <div class="col-md-10">
            <div class="abouttopleft">
                <h3>Who are we?</h3>
                <h4>
                    
                    HERE: team introduction, with interesting sentence!
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



