<!--FlexSlider-->
<link rel="stylesheet" href="~/AboutRes/css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link href="~/AboutRes/css/lsb.css" rel="stylesheet" type="text/css"><!-- gallery -->
<!-- custom css theme files -->
<link rel="stylesheet" href="~/AboutRes/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="~/AboutRes/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/AboutRes/css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->
<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <!-- nav -->
        <div class="header w3layouts">
            <div class="container-fluid">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="~/images/logo_transparent_background.png" width="100" height="100""/>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling-->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav>
                            <!--<img src="~/images/logo_transparent_background.png" width="100" height="10" />-->
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/Home/Index">Home</a></li>
                                <li><a href="~/Home/Intro">Introduction</a></li>
                                <li><a href="~/Calculator/CalculateOutput">Calculator</a></li>


                            </ul>
                        </nav>
                    </div>
                </nav>
        </div>
    </div>
    <!-- //nav -->
                            <!-- //Header -->
                            <div class="container">
                                <div class="flexslider-info">
                                    <section class="slider">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <li>
                                                    <div class="w3l-info">
                                                        <h3>
                                                            Your Solar Energy Exploration
                                                        </h3>
                                                        <p>


                                                        </p>
                                                        <p>
                                                            Find out how much natural sunlight is available in your local area and how to make your energy useful

                                                        </p>
                                                        <ul>
                                                            <!--<li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Find More</a></li>-->
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="w3l-info">
                                                        <h3>Function to be developed</h3>
                                                        <p>
                                                            Coming soon in iteration 2
                                                        </p>
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="w3l-info">
                                                        <h3>Function to be developed</h3>
                                                        <p>
                                                            Coming soon in iteration 3
                                                        </p>
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
</div>
</div>
<!-- General Information -->
<div class="general-info" id="general-info">
    <!-- Solar Information -->
    <div class="container">
        <hr>
        <h3 class="heading">Solar General Information</h3>
        <div class="abouttop">
            <div class="col-md-8">
                <div class="abouttopleft">
                    <h3>What is Solar?</h3>
                    <p>aaa</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="abouttopright">
                    <img src="~/AboutRes/images/about1.jpg" alt="" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="aboutbottom">
            <div class="col-md-4">
                <div class="aboutbottomleft">
                    <img src="~/AboutRes/images/about2.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="aboutbottomright">
                    <h3>Why Solar blablabla</h3>
                    <p>aaaa</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Rebates Information -->
    <div class="container">
        <hr>
        <h3 class="heading">Solar Rebates Policy</h3>
        <div class="abouttop">
            <div>
                <div class="abouttopleft">
                    <table style="width:100%">
                        <tr>
                            <th><h3>Cannot afford a solar system in Victoria?</h3></th>
                            <th><img src="~/images/solar-rebate.jpg" /></th>
                        </tr>
                    </table>
                    <br />
                    <h5>The Victorian Government has released the Solar Home Programs to help Victorians to apply for solar systems. The program has introduced several rebates for installing solar systems.</h5>
                    <br />
                    <p>
                        <ul style="padding-left: 40px">
                            <li>If you are thinking about installing solar panels on your property, the Solar Home Program can offer you up to $1400 rebates if you meet the criteria.</li>
                            <li>If the rebate is not sufficient for installing your solar system, the Solar Home Program has also provided an option of an interest-free loan.</li>
                        </ul>
                    </p>
                    <br />
                    <a href="https://www.solar.vic.gov.au/solar-panel-rebate" class="btn btn-primary">Find Out More</a>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->

<!-- copyright -->
<div class="wthree_copy_right">
    <div class="container">
        <p>Copyright &copy; 2021. Monash University Industry Experience TP11 <a href="https://www.vicenerg.team/" target="_blank" title="模板之家">Vic EnerG</a></p>

    </div>
</div>
<!-- //copyright -->
<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Vic EnerG
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="~/images/accessgrid.png" alt=" " class="img-responsive" />
                <p>
                    Continuous daily time series of data at point locations across Australia.
                    <i>
                        " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur.
                    </i>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-modal-pop-up -->
<!-- Default-JavaScript-File -->
<script type="text/javascript" src="~/AboutRes/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/AboutRes/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->
<!--Start-slider-script-->
<script defer src="~/AboutRes/js/jquery.flexisel.js"></script>
<script type="text/javascript">

    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script-->
<!-- testimonials required-js-files-->
<link href="~/AboutRes/css/owl.carousel.css" rel="stylesheet">
<script src="~/AboutRes/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 1,
            lazyLoad: true,
            autoPlay: true,
            navigation: false,
            navigationText: false,
            pagination: true,
        });
    });
</script>
<!--// testimonials required-js-files-->
<!-- flexisel -->
<script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script>
<script type="text/javascript" src="~/AboutRes/js/jquery.flexslider.js"></script>
<!-- //flexisel -->
<!-- gallery-pop-up -->
<script src="~/AboutRes/js/lsb.min.js"></script>
<script>
    $(window).load(function () {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery-pop-up -->
<!-- smooth scrolling -->
<script src="~/AboutRes/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="~/AboutRes/js/move-top.js"></script>
<script type="text/javascript" src="~/AboutRes/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- //scrolling script -->

<style>
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
</style>