@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- banner -->
<div class="w3l-banner">
    <div class="wthree-dot">
        <div class="container">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h3>
                                        Your Solar Energy Exploration
                                    </h3>
                                    <p>


                                    </p>
                                    <p>
                                        Find out how much natural sunlight is available in your local area and how to make your energy useful

                                    </p>
                                    <ul>
                                        <!--<li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Find More</a></li>-->
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>Function to be developed</h3>
                                    <p>
                                        Coming soon in iteration 2
                                    </p>
                                    <ul>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h3>Function to be developed</h3>
                                    <p>
                                        Coming soon in iteration 3
                                    </p>
                                    <ul>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- General Information -->
<div class="general-info" id="general-info">
    <!-- Solar Information -->
    <div class="container">
        <hr>
        <h3 class="heading">Solar General Information</h3>
        <div class="abouttop">
            <div class="col-md-8">
                <div class="abouttopleft">
                    <h3>What is Solar?</h3>
                    <p>aaa</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="abouttopright">
                    <img src="~/Pages_Resource/images/about1.jpg" alt="" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="aboutbottom">
            <div class="col-md-4">
                <div class="aboutbottomleft">
                    <img src="~/Pages_Resource/images/about2.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="aboutbottomright">
                    <h3>Why Solar blablabla</h3>
                    <p>aaaa</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Rebates Information -->
    <div class="container">
        <hr>
        <h3 class="heading">Solar Rebates Policy</h3>
        <div class="abouttop">
            <div>
                <div class="abouttopleft">
                    <table style="width:100%">
                        <tr>
                            <th><h3>Cannot afford a solar system in Victoria?</h3></th>
                            <th><img src="~/Pages_Resource/images/solar-rebate.jpg" /></th>
                        </tr>
                    </table>
                    <br />
                    <h5>The Victorian Government has released the Solar Home Programs to help Victorians to apply for solar systems. The program has introduced several rebates for installing solar systems.</h5>
                    <br />
                    <p>
                        <ul style="padding-left: 40px">
                            <li>If you are thinking about installing solar panels on your property, the Solar Home Program can offer you up to $1400 rebates if you meet the criteria.</li>
                            <li>If the rebate is not sufficient for installing your solar system, the Solar Home Program has also provided an option of an interest-free loan.</li>
                        </ul>
                    </p>
                    <br />
                    <a href="https://www.solar.vic.gov.au/solar-panel-rebate" class="btn btn-primary">Find Out More</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap-modal-pop-up -->
<!--<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Vic EnerG
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="~/images/accessgrid.png" alt=" " class="img-responsive" />
                <p>
                    Continuous daily time series of data at point locations across Australia.
                    <i>
                        " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur.
                    </i>
                </p>
            </div>
        </div>
    </div>
</div>-->
<!-- //bootstrap-modal-pop-up -->
