
@{
    ViewBag.Title = "Solar Rebates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Rebates Information -->
<div class="container">
    <hr>
    <h3 class="heading">Solar Rebates Policy</h3>
    <div class="abouttop">
        <div class="abouttopleft">
            <table style="width:100%">
                <tr>
                    <td style="border:none"><h3>Cannot afford a solar system in Victoria?</h3></td>
                    <td style="border:none"><img src="~/Pages_Resource/images/solar-rebate.jpg" /></td>
                </tr>
            </table>
            <br />
            <h5>The Victorian Government has released the Solar Home Programs to help Victorians to apply for solar systems. The program has introduced several rebates for installing solar systems.</h5>
            <br />
            <p>
                <ul style="padding-left: 40px">
                    <li>If you are thinking about installing solar panels on your property, the Solar Home Program can offer you up to $1400 rebates if you meet the criteria.</li>
                    <li>If the rebate is not sufficient for installing your solar system, the Solar Home Program has also provided an option of an interest-free loan.</li>
                </ul>
            </p>
            <br />
            <a href="https://www.solar.vic.gov.au/solar-panel-rebate" target="_blank" class="btn btn-primary">Find Out More</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

