
@{
    ViewBag.Title = "Solar Rebates";
    ViewBag.BodyClass = "page-body";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Rebates Information -->
<div class="container">
    <hr>
    <h3 class="heading">Solar Rebates Policy</h3>
    <div class="abouttop">
        <div class="abouttopleft">
            <table style="width:100%">
                <tr>
                    <td style="border:none"><h3>Cannot afford a solar system in Victoria?</h3></td>
                    <td style="border:none"><img src="~/images/solarInfo/solar-rebate.jpg" /></td>
                </tr>
            </table>
            <br />
            <h4>The Victorian Government has released the Solar Home Programs to help Victorians to apply for solar systems. The program has introduced several rebates for installing solar systems.</h4>
            <br />
            <p>
                <ul style="padding-left: 40px">
                    <li><h4>If you are thinking about installing solar panels on your property, the Solar Home Program can offer you up to $1400 rebates if you meet the criteria.</h4></li>
                    <br />
                    <li><h4>If the rebate is not sufficient for installing your solar system, the Solar Home Program has also provided an option of an interest-free loan.</h4></li>
                </ul>
                <br />
            </p>
            <br />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Rebates Value -->
<div class="container">
    <div class="abouttop">
        <div class="abouttopleft">
            <h3>The Rebates Value of Solar Home Programs</h3>
            <br />
            <h4>
                The rebate values for the solar panel program are shown in the table below:
            </h4>
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rebate Type <br /> &nbsp;</th>
                        <th scope="col">Current Value <br /> &nbsp; </th>
                        <th scope="col">New Value <br />&nbsp; </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Solar panel (PV)</th>
                        <td>$1,400</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Solar for Rentals</th>
                        <td>$1,400</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Solar for Business</th>
                        <td>$3,500 until all 5,000 forecasted rebates for 2021 have been fully allocated.</td>
                        <td>Up to $1,750 after the first 5,000 rebates have been fully allocated.</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h4>Rebates for solar panels  will be released on the second Wednesday of each month.</h4>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Rebates FAQ -->
<div class="container">
    <div class="abouttop">
        <div class="abouttopleft">
            <h3>Solar Home Programs FAQ</h3>
            <br />
            <h4>
                Here are some Frequently Asked Questions regarding the Solar Home Programs.
            </h4>
            <br />
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                How do I choose a good quality solar PV system?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            All systems listed as Clean Energy Council (CEC) approved products meet Australian Standards and are accredited as Approved Products by the Clean Energy Council. To be eligible for a rebate products must be on <a href="https://www.solar.vic.gov.au/approved-products"  target="_blank">approved products list</a>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Can I feed in the excess energy created by solar into the grid after I install solar panels?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Not everyone will be able to feed excess energy into the grid and your local distribution network service provider should inform you if this is the case.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                If I am buying solar panels (PV) under the Solar Homes Program can I also buy a battery?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes, but the rebate is calculated on the cost of the solar PV system alone. The Victorian Government has said that it will provide a rebate on the cost of a solar PV system, up to a maximum rebate of $1,850.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                How much will a household save on energy bills by installing solar PV?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Installing solar PV will save a typical household around $890 per annum off their electricity bill.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                Can you apply for a Solar panel (PV) rebate if your home is off-grid?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you meet all of our Solar panel (PV) rebate eligibility criteria, off grid homes are eligible for the Solar Panel rebate. Unfortunately a grid connection is a requirement for the Solar battery rebate.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                Can a not-for-profit community housing or social housing organisation participate in the Solar Homes Program?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            They can if they meet the Solar Homes criteria for community housing organisations.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                How does the Solar Homes rebate impact the federal Small Technology Certificate scheme?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Solar Homes rebates are additional to the federal STC scheme. Rebates will be calculated after the STC discount has been applied.
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <h4>
                Please visit the Solar Home Programs to know more information!
            </h4>
            <br />
            <a href="https://www.solar.vic.gov.au/solar-panel-rebate" target="_blank" class="btn btn-primary">Find Out More</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- Link to Solar Calculator -->
<div class="container">
    <hr>
    <h3 class="heading">Postcode Solar Output Calculation</h3>
    <div class="abouttop">
        <div>
            <div class="abouttopleft">
                <h3>Try Our Solar Calculator Now!</h3>
                <h4>
                    After knowing all the benefits, its attracting to install solar panels for your house. However, you might not know how to calculate the solar energy output in your suburb?
                </h4>
                <br />
                <h4>
                    No worries! We can help you! Proceed to our calculator page to know more about solar output, including the energy produced in your suburb, the carbon footprint of the energy produce as well as how you can utlize the energy in your house appliances!
                </h4>
                <br />
                <br />
                <a class="btn btn-primary btn-lg btn-block" href="~/Calculator/CalculateOutput" role="button">Try Our Calculator Now</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


