@{
    ViewBag.Title = "Solar General Information";
    ViewBag.BodyClass = "page-body";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- Solar Information -->
<div class="container">
    <hr>
    <h3 class="heading">Solar General Information</h3>
    <!-- What is Solar -->
    <div class="abouttop">
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3>What is Solar?</h3>
                <h4>
                    There are two main types of solar energy: solar thermal and solar photovoltaic. Solar thermal uses solar radiation to heat air or liquid, such as solar water heating. Solar photovoltaic, or called PV solar is made when you convert sunlight into electricity. Solar panels absorb light and use it in a way that creates electricity.
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/solarInfo/g2.jpg" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- How does solar energy work? -->
    <div class="aboutbottom">
        <div class="col-md-6">
            <div class="aboutbottomleft">
                <img src="~/images/solarInfo/solarexplain.png" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="aboutbottomright">
                <h3>How does solar energy work?</h3>
                <h4>
                    A solar panel is full of photovoltaic solar cells. When sunlight reaches each cell, it ‘excites’ electrons in the cells, causing them to move. Moving electrons equal the electrical energy. The energy moves out of the panels and into a solar inverter.
                    <br /><br /><br /><br />
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <br />
    <br />
    <!-- The advantages of solar energy -->
    <div class="abouttop">
        <div class="col-md-8">
            <div class="abouttopleft">
                <h3>The advantages of solar energy</h3>
                <h4>
                    Solar energy is sustainable. Solar is a kind of renewable energy, which does not use finite resources, such as fossil fuels. The process of creating electricity in solar panels does not cause any pollution.
                </h4>
                <br />
                <h4>
                    Solar energy can reduce electricity bills. Many states require utilities to offer net metering, which allows homeowners to offset their electric costs with the energy their solar panels produce.
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abouttopright">
                <img src="~/images/solarInfo/g8.jpg" style="max-height:280px; height:280px" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- Solar Graph in Victoria -->
<div class="container">
    <hr>
    <h3 class="heading">Solar energy in Victoria</h3>
    <div class="abouttop">
        <div>
            <div class="abouttopleft">
                <h3>Overview</h3>
                <h4>
                    The average Victorian home has real solar generator potential - plenty of sunlight, with plenty of room to install solar panels. In 2020 alone, Victorian rooftops added 3 GW of rooftop solar capacity across almost 380,000 installations, which was a bigger increase than any other year.
                </h4>
            </div>
            <br />
            <div class="abouttopleft">
                <h3>Solar Installation in Victoria</h3>
                <center><img src="~/images/solarInfo/solar_installation_statistic.png" style="max-width:600px; width:100%" /></center>
                <h4>
                    The figure above shows the monthly solar panel installations in Victoria in 2020. From January to June, the number of installations is about 6000. Since July, the number of solar panels installed has suddenly dropped to about 3,000. In October, the number of solar panels installed reached its peak, exceeding 9,000. From November to December, the number of solar panels installed slightly decreased.
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Link to Solar Rebates -->
<div class="container">
    <hr>
    <h3 class="heading">Do You Know Solar Victoria Program?</h3>
    <div class="abouttop">
        <div>
            <div class="abouttopleft">
                <h3>Get Your Rebates Now!</h3>
                <h4>
                    Proceed to our Solar Rebates page to know more about this program!
                </h4>
                <br />
                <br />
                <a class="btn btn-primary btn-lg btn-block" href="~/Home/SolarRebates" role="button">Solar Rebates Information</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<!-- Link to Solar Calculator -->
<div class="container">
    <hr>
    <h3 class="heading">Postcode Solar Output Calculation</h3>
    <div class="abouttop">
        <div>
            <div class="abouttopleft">
                <h3>Try Our Solar Calculator Now!</h3>
                <h4>
                    After knowing all the benefits, its attracting to install solar panels for your house. However, you might not know how to calculate the solar energy output in your suburb?
                </h4>
                <br />
                <h4>
                    No worries! We can help you! Proceed to our calculator page to know more about solar output, including the energy produced in your suburb, the carbon footprint of the energy produce as well as how you can utlize the energy in your house appliances!
                </h4>
                <br />
                <br />
                <a class="btn btn-primary btn-lg btn-block" href="~/Calculator/CalculateOutput" role="button">Try Our Calculator Now</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

