
@{
    ViewBag.Title = "Solar Rebates";
    ViewBag.BodyClass = "page-body";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Rebates Information -->
<div class="container">
    <hr>
    <h3 class="heading">Solar Rebates Policy</h3>
    <div class="abouttop">
        <div class="abouttopleft">
            <table style="width:100%">
                <tr>
                    <td style="border:none"><h3>Cannot afford a solar system in Victoria?</h3></td>
                    <td style="border:none"><img src="~/images/solarInfo/solar-rebate.jpg" /></td>
                </tr>
            </table>
            <br />
            <h4>The Victorian Government has released the Solar Home Programs to help Victorians to apply for solar systems. The program has introduced several rebates for installing solar systems.</h4>
            <br />
            <p>
                <ul style="padding-left: 40px">
                    <li><h4>If you are thinking about installing solar panels on your property, the Solar Home Program can offer you up to $1400 rebates if you meet the criteria.</h4></li>
                    <br />
                    <li><h4>If the rebate is not sufficient for installing your solar system, the Solar Home Program has also provided an option of an interest-free loan.</h4></li>
                </ul>
                <br />
            </p>
            <br />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Rebates Value -->
<div class="container">
    <div class="abouttop">
        <div class="abouttopleft">
            <h3>The Rebates Value of Solar Home Programs</h3>
            <br />
            <h4>
                The rebate values for the solar panel program are shown in the table below:
            </h4>
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rebate Type <br /> &nbsp;</th>
                        <th scope="col">Current Value <br /> &nbsp; </th>
                        <th scope="col">New Value <br />&nbsp; </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Solar panel (PV)</th>
                        <td>$1,400</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Solar for Rentals</th>
                        <td>$1,400</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Solar for Business</th>
                        <td>$3,500 until all 5,000 forecasted rebates for 2021 have been fully allocated.</td>
                        <td>Up to $1,750 after the first 5,000 rebates have been fully allocated.</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h4>Rebates for solar panels  will be released on the second Wednesday of each month.</h4>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Rebates FAQ -->
<div class="container">
    <div class="abouttop">
        <div class="abouttopleft">
            <h3>Solar Home Programs FAQ</h3>
            <br />
            <h4>
                Here are some Frequently Asked Questions regarding the Solar Home Programs.
            </h4>
            <br />
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Can I purchase batteries and solar panels at the same time under the solar home plan?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Yes, it is possible, but the rebate is calculated based on the cost of the solar photovoltaic system. The Victorian government stated that the maximum discount on the cost of solar photovoltaic systems is $1,850.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                How much bills can a family save by installing solar photovoltaic every year?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            It will save about $890/year in electricity bills for an ordinary family.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                How to choose a high-quality solar photovoltaic system?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            All systems listed as Clean Energy Commission (CEC) approved products meet Australian standards and are eligible for tax refunds.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                If I install solar panels, can I feed the excess energy generated by solar energy into the grid?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse in">
                        <div class="panel-body">
                            If necessary, your local distribution network service provider should notify you.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                If my house is a non-profit community housing, can I participate in the solar residential program?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse in">
                        <div class="panel-body">
                            You can, If you meet the solar residential standards of the community housing organization.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                If my home is off the grid, can I apply for a solar panel tax refund?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse in">
                        <div class="panel-body">
                            If you meet all of our solar panel (PV) tax rebate eligibility criteria, off-grid households are eligible for solar panel tax rebate. Unfortunately, grid connection is a requirement for solar battery tax rebates.
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <h4>
                Please visit the Solar Home Programs to know more information!
            </h4>
            <br />
            <a href="https://www.solar.vic.gov.au/solar-panel-rebate" target="_blank" class="btn btn-primary">Find Out More</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- Link to Solar Calculator -->
<div class="container">
    <hr>
    <h3 class="heading">Postcode Solar Output Calculation</h3>
    <div class="abouttop">
        <div>
            <div class="abouttopleft">
                <h3>Try Our Solar Calculator Now!</h3>
                <h4>
                    After knowing all the benefits, its attracting to install solar panels for your house. However, you might not know how to calculate the solar energy output in your suburb?
                </h4>
                <br />
                <h4>
                    No worries! We can help you! Proceed to our calculator page to know more about solar output, including the energy produced in your suburb, the carbon footprint of the energy produce as well as how you can utlize the energy in your house appliances!
                </h4>
                <br />
                <br />
                <a class="btn btn-primary btn-lg btn-block" href="~/Calculator/CalculateOutput" role="button">Try Our Calculator Now</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


