
@{
    ViewBag.Title = "CalculateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CalculateOutput</h2>

    <form class="form-horizontal" method="post">
        <div class="control-group">
            <label class="control-label">Postcode:</label>
            <div class="controls">
                <input id="Postcode" name="Postcode" value="Postcode"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">System Size:</label>
            <div class="controls">
                <input id="SystemSize" name="SystemSize" value="SystemSize"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Get" />
            </div>
        </div>
    </form>




