@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oops! An Error Has Occured</h2>

<p>An unexpected error occured on this website</p>
<p>Please notices the administrator if this error is still happening</p>

<li>@Html.ActionLink("Back to Home page", "Index", "Home")</li>

