@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @ViewBag.Title = "Error";
}



<div class="container">

    <h1 style="margin-top:120px;">Oops! An Error Has Occured</h1>
    <br />
    <h3>An unexpected error occured on this website</h3>
    <h3>Please notices the administrator if this error is still happening</h3>
    <br />
    <li>@Html.ActionLink("Back to Home page", "Index", "Home")</li>
</div>

<script>
    $(document).ready(function () {
        document.getElementById("wthree_copy_right").style.position = "absolute";
    });
</script>