@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Page Not found</h2>

<p>Are you look for following page?</p>
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Calculators", "CalculateOutput", "Calculator")</li>
